{
    "useTabs": false,
    "printWidth": 110,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": ["^react(.*)", "<THIRD_PARTY_MODULES>", "@/(.*)", "^[./]"]
}