.idea
idea
.DS_Store
.git
*.egg-info/
.installed.cfg
*.egg
**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/static/**

dist
db.sqlite3

poetry.lock

venv

.env*
.env.dev
.env.prod

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
!*media/default
media/*

log/debug.log

build
doc
home.rst
make.bat
# Makefile

doc-dev
.vscode/*
