.idea
idea
.DS_Store
.git
*.egg-info/
.installed.cfg
*.egg
#**/migrations/**
#!**/migrations
#!**/migrations/__init__.py

dist
db.sqlite3

venv

.env.dev

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
!*media/default
media/*

log/debug.log

build
doc
home.rst
make.bat
# Makefile

doc-dev
.vscode/*

# users ignore
backend/users/static
backend/users/logs
backend/users/media
backend/users/db
backend/users/venv
backend/users/env
backend/users/.env