.details {
  position: relative;
  border: 1px solid rgba(167,130,233,0.06);
  border-radius: 6px;
  overflow: hidden;
  background-color: #1b222e;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.detailsHead {
  position: relative;
  width: 100%;
}
.detailsCover {
  position: relative;
  display: block;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  width: 100%;
}
.detailsCover img {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
}
.detailsTrailer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  height: 55px;
  border-radius: 6px;
  border: 1px solid rgba(167,130,233,0.4);
  background-color: rgba(167,130,233,0.15);
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #fff;
  
}
.detailsTrailer svg {
  stroke: #a782e9;
  width: 22px;
  height: auto;
  margin-right: 15px;
  position: relative;
  z-index: 3;
  transition: 0.5s;
}
.detailsTrailer span {
  z-index: 3;
}
.detailsTrailer:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  pointer-events: none;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 6px;
  background-color: #1b222e;
  opacity: 0.75;
  transition: 0.5s;
}
.detailsTrailer:hover {
  border-color: rgba(167,130,233,0.6);
  background-color: rgba(167,130,233,0.3);
  color: #fff;
}
.detailsTrailer:hover:before {
  opacity: 1;
}
.detailsWrap {
  position: relative;
  width: 80%;
}
.detailsTitle {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}


.iksweb td,.iksweb th {
	min-height:35px;
  padding: 0 10px; 
	width: 30px;
	height: 35px; 
  border-bottom:1px solid rgba(167, 130, 233, 0.06);
  
}


.detailsCart {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(167,130,233,0.06);
  height: auto;
  position: relative;
}
.detailsCartTitle {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.4px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  color: #dbdada;
}
.detailsActions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}
.detailsBuy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  border-radius: 6px;
  background-color: #29b474;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.8px;
}
.detailsBuy:hover {
  background-color: #a782e9;
  color: #fff;
}

.detailsFavorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  background-color: rgba(167,130,233,0.03);
  border: 1px solid rgba(167,130,233,0.06);
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 20px;
}
.detailsFavorite svg {
  stroke: #a782e9;
  width: 22px;
  height: auto;
  transition: 0.5s;
  margin-right: 15px;
}
.detailsFavorite:hover {
  background-color: rgba(167,130,233,0.04);
  border-color: rgba(167,130,233,0.07);
  color: #fff;
}
.detailsFavorite:hover svg {
  stroke: #fd6060;
}

.detailsPlatforms {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.detailsPlatforms li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
}
.detailsPlatforms li svg {
  fill: #fff;
  width: 26px;
  height: auto;
}
.detailsPlatforms li.ps {
  background-color: #665cbe;
}
.detailsPlatforms li.xb {
  background-color: #0e7a0d;
}
.detailsPlatforms li.wn {
  background-color: #00aef0;
}
.detailsPlatforms li.ap {
  background-color: #555;
}
.detailsPlatforms li:last-child {
  margin-right: 0;
}
.detailsList {
  width: 100%;
}
.detailsList li {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}
.detailsList li span {
  color: #dbdada;
  margin-right: 5px;
}

.detailsText {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 170px;
  margin-top: 20px;
  padding-right: 20px;
  order: 4;
}
.detailsText p {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
}
.detailsText p:last-child {
  margin-bottom: 0;
}
.detailsPrice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.detailsPrice span {
  width: 100%;
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  line-height: 100%;
  display: block;
}
.detailsPrice s {
  font-size: 14px;
  color: #dbdada;
  margin-top: 7px;
  margin-right: 15px;
}
.detailsPrice b {
  font-size: 14px;
  color: #fd6060;
  margin-top: 7px;
  margin-right: 15px;
  font-weight: 600;
}
.detailsGallery {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(167,130,233,0.06);
}
.detailsCarousel {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 40px;
}
.detailsCarousel figure {
  margin: 0;
}
.detailsCarousel a {
  display: block;
  border-radius: 6px;
  overflow: hidden;
  height: auto;
  width: 120px;
}
.detailsCarousel a img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s;
}
.detailsCarousel a:hover img {
  opacity: 0.6;
}
.detailsNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 20px;
  bottom: 0;
  width: 20px;
  background-color: rgba(167,130,233,0.03);
  border: 1px solid rgba(167,130,233,0.06);
  border-radius: 6px;
}
.detailsNav svg {
  stroke: #dbdada;
  transition: 0.5s;
  width: 18px;
  height: auto;
}

.detailsNav:hover {
  background-color: rgba(167,130,233,0.04);
  border-color: rgba(167,130,233,0.07);
}
.detailsNav:hover svg {
  stroke: #a782e9;
}
@media (min-width: 576px) {
  .detailsCarousel a {
    width: 140px;
  }
  .detailsCover {
    width: 240px;
  }
  .detailsBuy,
  .detailsFavorite {
    width: 240px;
  }
}
@media (min-width: 768px) {
  .detailsCarousel a {
    width: 100%;
  }
  .detailsCover {
    margin-bottom: 0;
  }
  .detailsHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .detailsWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 260px);
  }
  .detailsActions {
    width: 240px;
  }
  .detailsTitle {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .detailsCart {
    order: 2;
    width: 220px;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    padding-left: 20px;
    border-left: 1px solid rgba(167,130,233,0.06);
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .detailsGallery {
    order: 3;
    width: 100%;
  }
  .detailsActions {
    width: 100%;
  }
  .detailsPlatforms {
    margin-bottom: auto;
  }
  .detailsBuy,
  .detailsFavorite {
    width: 100%;
  }
  .detailsContent {
    order: 5;
    position: relative;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
 
  .detailsHead {
    width: calc(100% - 210px);
  }
  .detailsCart {
    width: 210px;
  }
  .detailsTitle {
    font-size: 24px;
  }
}
@media (min-width: 1310px) {
  .detailsHead {
    width: calc(100% - 240px);
  }
  .detailsCart {
    width: 240px;
  }
 
}
.iksweb {
	width: 80%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto; 
  // border: 1px solid rgba(167, 130, 233, 0.06);
  }
.languages:hover {
  color: #a782e9;
   
}
