.footer {
    @apply relative block w-full h-auto pt-[60px] border-t border-trans-gray;

   
    
    @media (min-width: 1200px) {
        @apply pt-[90px];

        
    }
    @media (min-width: 768px) {
        @apply pt-[80px];

        
    }
    @media (min-width: 576px) {
        @apply pt-[70px];

        
    }

    &Link {
        @apply text-[16px] leading-[30px] text-[#fff];

        

        :hover {
            @apply text-[#a782e9] ;

            
        }
    }
  }
}

.container {
    @apply w-full pr-[15px] pl-[15px] m-auto;

    

    @media (min-width: 576px) {
        @apply max-w-[540px];

        
    }
    @media (min-width: 768px) {
        @apply max-w-[720px];

        
    }
    @media (min-width: 992px) {
        @apply max-w-[960px];

        
    }
    @media (min-width: 1200px) {
        @apply max-w-[1140px];

        
    }
    @media (min-width: 1310px) {
        @apply max-w-[1310px];
        
        ;
    }
}

.nav {
    &List {
        @apply flex flex-row justify-between items-start flex-wrap;

        

        @media (min-width: 768px) {
            @apply flex flex-row justify-between items-start flex-wrap p-[0-1vw];
            
        }
    }
    
    @apply flex flex-row justify-start items-start flex-wrap mb-[40px] relative w-full ; 
  

    @media (min-width: 1200px) {
        @apply mb-[0];

        ;
    }

  &3 {
    @media (max-width: 768px) {
      flex-direction: column;
    }

    &2 {
        @media (min-width: 768px) {
            width: calc(66.666666% - 15px);
        }
        @media (min-width: 1200px) {
            width: calc(40% - 20px);
        }
        @media (max-width: 768px) {
            @apply flex-col;
            
        }
        @apply flex flex-row justify-start items-start flex-wrap;
      
    }

    &3 {
        @media (max-width: 768px) {
            @apply flex-col;
            
        }

        @media (min-width: 768px) {
            @apply w-[100%] ;
            
        }
        @media (min-width: 1200px) {
            width: calc(40% - 20px);
        }
    }
  }
}

.title {
    svg {
        @apply relative z-[2] stroke-[#a782e9] w-[22px] h-[auto] bg-[#1b222e];

       
    }
    span {
        @apply relative z-[2] bg-[#1b222e] p-[0-10px] text-[16px] text-[#fff] tracking-[0.4px]; 

    
    }
    :before {
        @apply content-[''] absolute block left-[0] right-[0] top-[50%] h-[1px] z-[1] bg-[trans-gray];

        
    }
    
    @apply relative w-full flex flex-row justify-start items-center;
    
}

.list {
    @apply mt-5 flex flex-col justify-start items-start;
    

    a {
        @apply text-gray text-[14px] leading-[26px] relative pl-[20px] tracking-[0.4px] opacity-[0.8];
        
       
        :hover {
            @apply opacity-[1];

            
        }
        :before {
            @apply content-[''] absolute block top-[0] bottom-[0] left-[0] w-[10px] opacity-[0.5];

           
            background: url('/svg/arrow.svg') no-repeat left center;
            background-size: 10px auto;
        
            transition: 0.5s;
        }
    }
  }

    &Double {
        @media (max-width: 768px) {
            :last-child {
                @apply mt-[0] ;
                
            }
        }
        @media (min-width: 768px) {
            @apply w-[50%] ;
            
        }
    }
  }
}

.contacts {
    @apply mt-[40px] flex flex-col justify-start items-start;
;

    @media (min-width: 768px) {
        @apply absolute bottom-0 right-0 mt-[0] items-end;

      
    }
}

.social {
    @apply mt-[40px] flex flex-row justify-start items-center;
    
    
    a {
        @apply mr-[20px] w-[20px] h-[24px] text-[white];

    
    }
    a:last-child {
        @apply mr-[0px];

         
    }
    a:hover {
        @apply text-[#a782e9];

        
    }
}

.wrapper {
    @apply flex flex-row justify-between items-center h-[90px] w-[100%] mt-[60px] border-t border-trans-gray;
    
    a {
        @apply w-[130px] h-[auto];

        
    }
    span {
        @apply text-gray;

        a {
            @apply text-gray hover:text-primary;
        }
        @apply text-[12px] leading-[20px] text-right;
        
      
    }
    font-size: 12px;
    line-height: 20px;
    text-align: right;
  }

    @media (min-width: 576px) {
        @apply mt-[70px];
        ;
    }
    @media (min-width: 768px) {
        @apply mt-[80px];
        
    }
    @media (min-width: 1200px) {
        @apply mt-[90px];
        
    }
}

.logo {
    @apply block w-[120px] h-auto ;
    
   
    img {
        @apply w-[100%] h-[100%];

       
    }
}
