.sign {
    &Content {
        @apply flex flex-row justify-center items-center w-full min-h-screen py-[40px];
    }

    &Form {
        @apply bg-background flex flex-col justify-center items-center border border-trans-gray rounded-default
        px-[20px] py-[40px] relative w-full max-w-[400px] sm:p-[50px];
    }

    &Logo {
        @apply block mb-[40px] transition-none sm:mb-[50px];

        img {
            @apply w-full h-full;
        }
    }

    &Group {
        @apply relative mb-[20px] w-full;
    }

    &Btn {
        @apply flex flex-col justify-center items-center w-full h-[44px] rounded-default bg-acid text-white
        font-semibold text-[13px] tracking-[0.6px] my-[15px] uppercase hover:bg-primary hover:text-white;
    }

    &Delimiter {
        @apply text-[13px] leading-[100%] text-gray;
    }

    &Input {
        @apply border border-trans-gray rounded-default h-[44px] relative text-white text-[14px] w-full
        px-[20px] tracking-[0.4px] bg-light;

        :focus {
            background-color: rgba(167, 130, 233, 0.04);
            border-color: rgba(167, 130, 233, 0.5);
        }
    }

    &Checkbox {
        @apply w-full text-left;

        input:not(:checked),
        input:checked {
            @apply absolute -left-[9999px];
        }

        input:not(:checked) + label,
        input:checked + label {
            @apply text-[14px] font-normal relative cursor-pointer pl-[35px] leading-[20px] m-0 text-gray;
        }

        input:not(:checked) + label a,
        input:checked + label a {
            @apply text-primary;
        }

        input:not(:checked) + label:before,
        input:checked + label:before {
            @apply content-[''] absolute left-0 top-0 w-[20px] h-[20px] rounded-default
            border border-trans-gray bg-light;
        }

        input:not(:checked) + label:after,
        input:checked + label:after {
            @apply content-[''] absoulute left-0 top-0 w-[20px] h-[20px] text-center;
            transition: 0.5s;
            background: url('/img/checkmark.svg') no-repeat center/16px auto;
        }

        input:not(:checked) + label:after {
            @apply opacity-0 scale-0;
        }

        input:checked + label:after {
            @apply opacity-[1] scale-[1];
        }

        label::-moz-selection {
            @apply bg-transparent text-gray;
        }

        label::selection {
            @apply bg-transparent text-gray;
        }
    }

    &Text {
        @apply mt-[15px] text-[14px] text-gray;

        a {
            @apply relative text-primary hover:underline;
        }
    }

    &Socials {
        @apply flex flex-row justify-between items-center w-full my-[15px];
    }

    &Social {
        @apply flex flex-row justify-center items-center h-[44px] rounded-default bg-black;
        width: calc(33% - 10px);

        svg {
            @apply h-auto stroke-white;
            transition: 0.5s ease;
            transition-property: stroke, fill;
        }

        &:hover {
            @apply bg-white;

            svg {
                @apply stroke-black;
            }
        }

        &FB {
            background-color: #3b5999;
        }
        &GL {
            background-color: #df4a32;
        }
        &TW {
            background-color: #1da1f2;
        }
    }
}