.section {
  @apply relative pt-[60px];

  @media (min-width: 576px) {
    @apply pt-[70px];
  }
  @media (min-width: 768px) {
    @apply pt-[80px];
  }
  @media (min-width: 1200px) {
    @apply pt-[90px];
  }

  &First {
    @apply relative pt-[160px];

    @media (min-width: 576px) {
      @apply pt-[170px];
    }
    @media (min-width: 768px) {
      @apply pt-[180px];
    }
    @media (min-width: 1200px) {
      @apply pt-[190px];
    }
  }

  &Last {
    @apply relative pb-[60px];

    @media (min-width: 576px) {
      @apply pb-[70px];
    }
    @media (min-width: 768px) {
      @apply pb-[80px];
    }
    @media (min-width: 1200px) {
      @apply pb-[90px];
    }
  }

  &Bg {
    @apply overflow-hidden;

    .container {
      @apply relative z-[2];
    }

    &Full {
      @apply overflow-hidden;

      &::before {
        @apply pointer-events-none absolute bottom-0 left-0 right-0 top-0 z-[1] block
                content-[''];

        background-color: rgba(27, 34, 46, 0.7);
      }

      .container {
        @apply relative z-[2];
      }
    }
  }

  &Head {
    @apply overflow-hidden;

    &::before {
      @apply pointer-events-none absolute bottom-0 left-0 right-0 top-[140px] z-[1]
             block content-[''];

      background-color: rgba(27, 34, 46, 0.7);
    }

    .container {
      @apply relative z-[2];
    }
  }

  &Category {
    @apply pt-[40px];
  }

  &Wrapper {
    @apply flex flex-col items-start justify-start;

    @media (min-width: 768px) {
      @apply flex-row items-center justify-between;
    }
  }

  &Nav {
    &Wrapper {
      @apply mt-[20px] flex w-full flex-row items-center justify-start gap-[10px];

      @media (min-width: 768px) {
        @apply mt-0 w-auto gap-[15px];
      }
    }

    @apply flex h-[30px] w-[30px] flex-row justify-center rounded-default bg-light;

    svg {
      @apply h-auto w-[18px] stroke-acid;

      transition: 0.5s;
    }

    &:hover {
      background-color: rgba(167, 130, 233, 0.04);
      border-color: rgba(167, 130, 233, 0.07);

      svg {
        @apply stroke-primary;
      }
    }
  }

  &View {
    @apply bg-light text-light;

    @apply tracking-default mr-auto flex h-[30px] min-w-[80px] flex-row items-center
        justify-center rounded-default text-[13px] font-normal;

    border: 1px solid rgba(167, 130, 233, 0.06);

    &:hover {
      background-color: rgba(167, 130, 233, 0.04);
      border-color: rgba(167, 130, 233, 0.07);
      color: #a782e9;
    }

    @media (min-width: 768px) {
      @apply mr-0;
    }
  }

  &Title {
    &Wrapper {
      @apply relative flex flex-col items-start justify-start;

      @media (min-width: 768px) {
        @apply mb-[5px] flex-row items-center justify-between;
      }

      &Single {
        @apply flex flex-row items-center justify-between;

        .sectionNavWrapper {
          @apply mt-0 w-auto;
        }
      }
    }

    @apply relative mb-0 pl-[30px] text-[28px] font-normal leading-[110%]
        text-white;

    font-family: var(--font-montserrat);
    b {
      @apply font-medium;
    }

    span {
      @apply tracking-default font-sans text-sm text-light;
    }

    @media (min-width: 576px) {
      @apply text-[30px];
    }

    @media (min-width: 768px) {
      &:before {
        @apply bottom-[3px] top-[3px];
      }
      @apply text-[32px];
    }

    &:before {
      @apply absolute bottom-[2px] left-0 top-[2px] block w-[3px] rounded-[4px]
            bg-primary content-[''];
    }

    &Pre {
      &:before {
        @apply bg-[#f26c2a];
      }
    }
    &Downloads {
      &:before {
        @apply bg-[#5074e1];
      }
    }

    &Small {
      @apply text-[26px];

      @media (min-width: 576px) {
        @apply text-[28px];
      }
      @media (min-width: 768px) {
        @apply text-[28px];
      }
    }

    &Uppercase {
      @apply font-light uppercase leading-[130%];
    }
  }
}

.list {
  @apply flex gap-3;

  > div {
    @apply w-full;
  }
}
