version: "3.9"

services:
  web_users:
    container_name: users-service
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    command: >
      sh -c "python manage.py migrate &&
             gunicorn -b 0.0.0.0:8000 --log-level info --access-logfile - config.wsgi:application"
    volumes:
      - static:/app/static
      - media:/app/media
    restart: always
    expose:
      - 8000
    ports:
      - "8000:8000"

volumes:
  media:
  static:
