.platform {
  @apply mr-[10px] flex h-[26px] w-[26px] flex-row items-center justify-center rounded-full last:mr-0;

  svg {
    @apply h-auto w-[18px] fill-white;
  }
}

.ps {
  background-color: #665cbe;
}

.xbox {
  background-color: #0e7a0d;
}

.win {
  background-color: #00aef0;
}

.ap {
  background-color: #555;
}
