@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply container mx-auto px-4 bg-background font-sans font-normal antialiased;
}

button {
  @apply p-0 border-none bg-transparent cursor-pointer focus:outline-none;
}

button, a {
  transition: 0.5s ease;
}

a:hover, a:active, a:focus {
  outline: none;
}

::-moz-selection, ::selection {
  @apply bg-primary text-white shadow-none;
}

::-moz-placeholder, ::-webkit-input-placeholder {
  @apply text-light opacity-100;
}

body::-webkit-scrollbar {
  @apply w-4;
}

body::-webkit-scrollbar-track {
  @apply bg-trans-gray;
}

body::-webkit-scrollbar-thumb {
  @apply bg-primary outline-1 outline-trans-gray;
}