.article {
  position: relative;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid rgba(167, 130, 233, 0.06);
  background-color: #1b222e;
}

.articleContent {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  iframe {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
  }

  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child {
    margin-bottom: 0;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }

  p {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #dbdada;
    margin-bottom: 20px;
    letter-spacing: 0.4px;
  }

  p b {
    font-weight: 600;
  }

  p a {
    color: #a782e9;
    text-decoration: underline;
  }

  p a:hover,
  p a:focus {
    color: #a782e9;
    text-decoration: none;
  }

  p:last-child {
    margin-bottom: 0;
  }

  blockquote {
    display: block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
  }

  blockquote:before {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    bottom: 2px;
    left: 0;
    width: 3px;
    background-color: #a782e9;
    box-shadow: 0 0 13px 0 rgba(167, 130, 233, 0.06);
    border-radius: 4px;
  }

  blockquote:last-child {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 20px;
    display: block;
  }

  ul li {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #dbdada;
    padding-left: 25px;
    position: relative;
  }

  ul li:before {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #a782e9;
    left: 0;
    top: 50%;
    margin-top: -3px;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 576px) {
    iframe {
      height: 280px;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 26px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 18px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    ul,
    img,
    iframe {
      margin-bottom: 30px;
    }
    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child,
    p:last-child,
    blockquote:last-child,
    ul:last-child,
    img:last-child,
    iframe:last-child {
      margin-bottom: 0;
    }
    iframe {
      height: 400px;
    }
  }

  @media (min-width: 1200px) {
    padding-right: 15px;
    iframe {
      height: 460px;
    }
  }
}

.articleCategory {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 24px;
  min-width: 74px;
  width: auto;
  color: #dbdada;
  font-size: 12px;
  border: 1px solid rgba(167, 130, 233, 0.4);
  background-color: rgba(167, 130, 233, 0.15);
  border-radius: 6px;
  padding: 0 13px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
  &:hover {
    color: #fff;
    border-color: rgba(167, 130, 233, 0.6);
    background-color: rgba(167, 130, 233, 0.3);
  }

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.articleDate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  line-height: 24px;
  color: #dbdada;
  svg {
    stroke: #a782e9;
    width: 16px;
    height: auto;
    margin-right: 5px;
  }

  @media (min-width: 1200px) {
    right: 15px;
  }
}
