.article {
  @apply relative rounded-md border border-main-60 bg-background p-5;
}

.sidebar {
  @apply mt-[30px] block pl-[5px] sm:mt-10 lg:-mt-[30px];
}

.colSmall {
  @apply relative w-full max-w-full flex-shrink-0 flex-grow-0 basis-full px-4;
}

.links {
  @apply mt-2.5 flex w-full flex-row flex-wrap items-start justify-start sm:mt-5;
}
