.sort {
  @apply relative mb-[10px] mt-4  flex flex-wrap justify-between rounded-default border border-main-60 p-[20px];

  &Results {
    @apply mt-[10px] text-sm text-light;
  }
  @media (max-width: 480px) {
    @apply px-[10px] py-[20px];
  }
}
.filterWrap {
  @apply flex;
  @media (max-width: 769px) {
    @apply flex-wrap;
  }
}
.filter {
  &Group {
    @apply mb-0 mr-[60px] flex w-auto flex-row items-center justify-start gap-5;

    &:last-child {
      @apply mb-0 mr-0;
    }
    @media (max-width: 769px) {
      @apply mr-0 mb-[20px];
    }
  }

  &Label {
    @apply mb-[15px] mt-[10px] text-sm font-normal leading-[100%] tracking-default text-light;
  }

  &Select {
    &Wrapper {
      @apply relative w-[210px];
    }
    @apply h-[44px] w-full cursor-pointer rounded-default border border-main-60
        px-[20px] font-[14px] tracking-default text-white;

    background: url('/img/arrow2.svg') no-repeat center right 20px rgba(167, 130, 233, 0.03);
    background-size: 12px auto;
  }
}

.select {
  @apply m-0 p-0 text-black;
}

.columns {
  @apply grid grid-cols-3 gap-x-4 gap-y-4;
  @media (max-width: 1200px) {
    @apply grid-cols-2;
  }
  @media (max-width: 620px) {
    @apply grid-cols-1;
  }
}
