.select {
  display: none;

  @media (min-width: 1200px) {
    @apply block w-[115px] h-[44px] border-none bg-transparent text-[14px] text-white p-0 cursor-pointer outline-none;
    background: url('/svg/arrow2.svg') no-repeat center right;
    background-size: 12px auto;

    option {
      @apply p-0 m-0 text-black;
    }
  }
  @media (min-width: 1310px) {
    width: 150px;
  }
}

.options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md border border-gray-800
  bg-slate-800 text-base sm:text-sm overflow-x-hidden;

  &::-webkit-scrollbar-track {
    @apply bg-slate-800;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary outline-1 outline-trans-gray;
  }
  &::-webkit-scrollbar {
    @apply w-1;
  }
}

.option {
  @apply relative cursor-default select-none py-2 pl-4 pr-4 text-white;

  &Active {
    @apply bg-primary;
  }
}