asgiref==3.6.0
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==3.1.0
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.6
Django==4.1.7
django-cors-headers==3.14.0
django-filter==22.1
django-simple-history==3.3.0
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
drf-yasg==1.21.5
filelock==3.10.0
flake8==6.0.0
identify==2.5.21
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.2
mccabe==0.7.0
nodeenv==1.7.0
packaging==23.0
platformdirs==3.1.1
pre-commit==3.2.0
psycopg2==2.9.5
ptvsd==4.3.2
pycodestyle==2.10.0
pyflakes==3.0.1
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
ruamel.yaml==0.17.21
sqlparse==0.4.3
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.15
virtualenv==20.21.0
