.card {
  @apply relative mt-[30px] block overflow-hidden rounded-default bg-background;

  &Cover {
    @apply relative block;

    img {
      @apply relative z-[1] max-h-[300px] w-full;
      transition: 0.5s;
    }

    &:hover img {
      opacity: 0.6;
    }

    @media (min-width: 360px) {
      width: 165px;
    }

    @media (min-width: 576px) {
      @apply w-full;
    }
  }

  &Catalog {
    @media (min-width: 360px) {
      @apply border-main-60 flex flex-row flex-wrap items-start justify-start border-r;
    }

    @media (min-width: 576px) {
      @apply flex-col border-r-0;
    }
  }

  &Badge {
    @apply pointer-events-none absolute bottom-[20px] left-[15px] z-[2] flex h-[24px] flex-row items-center
        justify-center rounded-default px-[13px] font-mont text-[12px] font-medium text-white;

    &New {
      @apply bg-primary;
    }

    &Preorder {
      background-color: #f26c2a;
    }
  }

  &Platforms {
    @apply pointer-events-none absolute left-[15px] top-[20px] z-[2] flex flex-row items-center justify-start;

    @media (min-width: 360px) {
      @apply left-[15px] top-[15px];
    }

    @media (min-width: 576px) {
      @apply left-[20px] top-[20px];
    }
  }

  &Title {
    @apply mb-[15px] w-full overflow-hidden text-ellipsis whitespace-nowrap break-words text-base
        font-normal text-white hover:text-primary;
    transition: 0.5s;

    &Wrapper {
      @apply border-x-main-60 relative flex w-full flex-col items-start justify-center border-x
            p-[15px];

      :last-child {
        @apply border-b-main-60 rounded-b-default rounded-l-default border-b;
      }

      @media (min-width: 360px) {
        width: calc(100% - 165px);
        @apply border-t-main-60 border-x-0 border-t p-[15px];

        .cardTitle {
          @apply whitespace-normal;
        }

        :last-child {
          @apply absolute bottom-0 right-0 top-0 justify-start rounded-b-default rounded-r-default;
        }
      }

      @media (min-width: 576px) {
        @apply border-x-main-60 w-full border-x border-t-0 p-[20px];

        .cardTitle {
          @apply whitespace-nowrap;
        }

        :last-child {
          @apply relative bottom-auto right-auto top-auto rounded-b-default rounded-l-default;
        }
      }
    }

    &Link {
      @apply text-white hover:text-primary;
    }
  }

  &Price {
    @apply flex flex-row items-end justify-start text-base font-semibold leading-[100%] tracking-[0.5px]
        text-white;

    s {
      @apply ml-[10px] text-[12px] font-normal leading-[100%];
    }
  }

  &Wrapper {
    @apply relative w-full;
  }

  &Actions {
    @apply border-x-main-60 border-b-main-60 flex w-full flex-row items-center justify-between rounded-b-default rounded-l-default
        border-x border-b px-[15px] pb-[15px];

    @media (min-width: 360px) {
      @apply absolute bottom-0 right-0 rounded-none border-x-0 px-[15px] pb-[15px];
    }

    @media (min-width: 576px) {
      @apply border-x-main-60 relative bottom-auto right-auto w-full rounded-b-default rounded-l-default border-x
            px-[20px] pb-[20px];
    }
  }

  &Action {
    @apply flex h-[44px] flex-row items-center justify-center hover:cursor-pointer;

    &Buy {
      @apply rounded-default bg-acid text-sm font-semibold leading-4 tracking-[0.8px] text-white
            hover:bg-primary hover:text-white;
      width: calc(100% - 59px);
    }

    &Favorite {
      @apply w-[44px] rounded-default border border-background bg-main-30;

      svg {
        @apply h-auto w-[22px] stroke-primary;
        transition: 0.5s;
      }

      &:hover {
        background-color: rgba(167, 130, 233, 0.04);
        border-color: rgba(167, 130, 233, 0.07);

        svg {
          stroke: #fd6060;
        }
      }
    }
  }

  &Big {
    @apply border-main-60 gap-4 border p-[15px];
    gap: 1rem;

    .cardCover {
      @apply overflow-hidden rounded-default;
    }

    .cardTitle {
      @apply border-none py-[15px];

      h3 {
        @apply mb-0 text-[18px];
      }
    }

    .cardActions {
      @apply mt-[20px] border-none p-0;
    }

    .cardPlatforms {
      @apply relative left-auto top-auto mt-[20px];
    }

    @media (min-width: 360px) {
      @apply p-[20px];
    }

    @media (min-width: 768px) {
      @apply flex flex-row items-stretch justify-between;

      .cardTitle {
        @apply h-auto w-full p-0;

        h3 {
          @apply text-[22px];
        }
      }
      .cardCover {
        @apply w-[230px];
      }
      .cardWrap {
        @apply flex flex-col items-start justify-start;
        width: calc(100% - 250px);
      }
      .cardPrice {
        @apply mt-auto;
      }
      .cardActionBuy {
        @apply w-[160px];
      }
    }

    @media (min-width: 1200px) {
      .cardCover {
        @apply w-[240px];
      }
      .cardWrap {
        width: calc(100% - 260px);
      }
      .cardTitle {
        h3 {
          @apply whitespace-normal;
        }
      }
    }
  }
}
