.container {
    @apply flex flex-row justify-center items-center mt-[40px];

    @media (min-width: 576px) {
        @apply mt-[50px] justify-between;
    }
}

.counter {
    @apply hidden;

    @media (min-width: 576px) {
        @apply flex flex-row justify-center items-center border border-trans-gray h-[44px] px-[20px] rounded-default
        text-[14px] bg-dark text-light;
    }
}

.wrapper {
    @apply flex flex-row justify-center items-center h-[44px] max-w-full;
}

.linkBtn {
    @apply text-[14px] h-[44px] w-[44px] flex flex-row justify-center items-center border border-trans-gray
    rounded-default text-center relative bg-dark;
}

.item {
    @apply mr-[15px] last:mr-0;

    &:hover .linkBtn {
        color: #fff;
        background-color: rgba(167, 130, 233, 0.04);
        border-color: rgba(167, 130, 233, 0.07);
    }

    &Active {
        cursor: default;

        .linkBtn {
            @apply cursor-default text-white;
            border-color: rgba(167, 130, 233, 0.5);
        }

        &:hover .linkBtn {
            background-color: rgba(167, 130, 233, 0.04);
            border-color: rgba(167, 130, 233, 0.5);
            color: #fff;
        }

        @media (min-width: 576px) {
            @apply mr-[20px] last:mr-0;
        }
    }
}