.container {
  @apply mt-[40px] flex flex-row items-center justify-center;

  @media (min-width: 576px) {
    @apply mt-[50px] justify-between;
  }
}

.counter {
  @apply hidden;

  @media (min-width: 576px) {
    @apply flex h-[44px] flex-row items-center justify-center rounded-default border border-main-60 bg-main-30
        px-[20px] text-sm text-light;
  }
}

.wrapper {
  @apply flex h-[44px] max-w-full flex-row items-center justify-center;
}

.linkBtn {
  @apply relative flex h-[44px] w-[44px] flex-row items-center justify-center rounded-default border
    border-main-60 bg-main-30 text-center text-sm;
}

.item {
  @apply mr-[15px] last:mr-0;

  &:hover .linkBtn {
    color: #fff;
    background-color: rgba(167, 130, 233, 0.04);
    border-color: rgba(167, 130, 233, 0.07);
  }

  &Active {
    cursor: default;

    .linkBtn {
      @apply cursor-default text-white;
      border-color: rgba(167, 130, 233, 0.5);
    }

    &:hover .linkBtn {
      background-color: rgba(167, 130, 233, 0.04);
      border-color: rgba(167, 130, 233, 0.5);
      color: #fff;
    }

    @media (min-width: 576px) {
      @apply mr-[20px] last:mr-0;
    }
  }
}
