.profile {
  @apply relative flex flex-col content-start items-start px-[20px] pt-[20px] pb-0 rounded-[6px]
  border-trans-gray mb-[10px];
  
  &__user{
    @apply flex flex-row content-start items-center mb-[30px];
  }
  
  &__avatar {
    @apply block relative w-[44px] cursor-pointer overflow-hidden rounded-[6px] mr-[15px];
    
    img{
      @apply w-full;
    }
  }
  
  &__meta {
    @apply flex flex-col content-start items-start;
    
    h3{
      @apply text-white block mb-[5px] text-base font-normal leading-[130%];
    }
    
    span{
      @apply text-gray text-xs leading-[100%];
    }
  }
  
  &__tabs {
    @apply flex flex-row content-start items-center overflow-hidden w-[100%];
    
    li {
      @apply mr-[40px];
      
      :last-child {
        @apply mr-[0px];
      }
    }

    a {
      @apply flex flex-row content-start items-start h-[40px] text-gray relative uppercase text-xs tracking-[0.4px];
    
      :hover {
        @apply text-primary;
      }
    
      :before {
        @apply absolute bottom-0 left-0 right-0 h-[2px] block bg-primary opacity-0;
        content: '';
        transition: 0.5s;
        transform: translateY(2px);
      }
    }
    a.active {
      @apply text-primary cursor-default;
    
      :before {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
  &__logout {
    @apply flex flex-row content-center items-center w-[44px] h-[44px] bg-light text-white absolute top-[20px] right-[20px]
    rounded-[6px] text-xs tracking-[0.4px] uppercase;
    border: 1px solid rgba(167,130,233,0.4);
    transition: 0.5s;
    
    span {
      @apply hidden;
    }
    
    svg {
      @apply stroke-white w-[22px] h-auto;
      transition: stroke 0.5s;
    }
    :hover {
      background-color: rgba(167,130,233,0.04);
      border-color: rgba(167,130,233,0.5);
      
      svg {
        stroke: #a782e9;
      }
    }
  }
  
  &__table {
    @apply w-full min-w-[920px] bg-background;
    
    th {
      @apply text-sm font-normal text-gray leading-[100%] px-[20px] pt-[20px] pb-0 tracking-[0.4px];
      border-bottom: 1px solid rgba(167,130,233,0.06);
      
      a {
        @apply inline-flex flex-row content-start items-center text-gray;

        svg {
          @apply w-[20px] h-auto fill-gray;
          transition: fill 0.5s ease;
        }

        :hover {
          @apply text-white;

          svg {
            @apply fill-primary;
          }
        }
      }

      a.active {
        color: #fff;

        svg {
          @apply w-[16px] fill-primary;
        }
      }

      :last-child {
        @apply w-[24px] pt-[10px] px-[20px] pb-[20px];
      }

      :first-child {
        @apply w-[80px] p-[20px];
      }

      :nth-child(2) {
        @apply w-[100px];
      }
    }

    td {
      @apply text-xs font-normal text-white py-[10px] pr-[20px] pl-[0];

      a {
        @apply text-white text-sm;
        border-bottom: 2px dotted #a782e9;

        :hover {
          color: #a782e9;
        }
      }

      :last-child {
        width: 24px;
        padding: 10px 20px;
      }

      :first-child {
        width: 80px;
        padding: 10px 20px;
      }

      :nth-child(2) {
        width: 100px;
      }
    }

    tbody {
      tr:first-child td {
        padding: 20px 20px 10px 0;

        :last-child {
          padding: 20px 20px 10px 20px;
        }

        :first-child {
          padding: 20px 20px 10px 20px;
        }
      }

      tr:last-child td {
        padding: 10px 20px 20px 0;

        :last-child {
          padding: 10px 20px 20px 20px;
        }

        :first-child {
          padding: 10px 20px 20px 20px;
        }
      }
    } 
  }
}

.paginator {
  @apply flex flex-row justify-center items-center mt-[40px] mb-[30px];
  
  &__counter {
    @apply hidden;
  }

  &__wrap {
    @apply flex flex-row content-center items-center h-[44px] max-w-full;
  }
  
  &__item {
    margin-right: 15px;

    a {
      @apply text-sm h-[44px] w-[44px] flex flex-row content-center items-center rounded-[6px] text-gray text-center relative pl-[15px];
      background-color: rgba(167,130,233,0.03);
      border: 1px solid rgba(167,130,233,0.06);
    }

    :last-child {
      margin-right: 0;
    }

    :hover a {
      @apply text-white;
      background-color: rgba(167,130,233,0.04);
      border-color: rgba(167,130,233,0.07);
    }

    &_prev svg,
    &_next svg {
      @apply w-[18px] h-auto stroke-gray;
      transition: 0.5s;
  
      :hover svg {
        stroke: #fff;
      }
    }

    &_active {
      cursor: default;
    
      a {
        @apply cursor-default text-white;
        border-color: rgba(167,130,233,0.5);
      }
    
      :hover a {
        background-color: rgba(167,130,233,0.04);
        border-color: rgba(167,130,233,0.5);
        color: #fff;
      }
    }
  }
}
