.requirements {
  @apply relative mt-5 w-full rounded-md border border-solid border-main-60 p-5;

  &Tabs {
    @apply mb-5 flex flex-wrap gap-2 text-center text-sm font-medium text-light dark:text-gray-400;

    &Active {
      @apply inline-block rounded-lg bg-main-500 px-4 py-3 text-white;
    }

    &Button {
      @apply inline-block rounded-lg px-4 py-3 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-800 dark:hover:text-white;
    }
  }

  @media (min-width: 1200px) {
    .requirements {
      @apply mt-16;
    }
  }
}
