.card {
  @apply flex animate-pulse max-sm:flex-col;

  &Img {
    @apply mb-2 h-[340px] w-[240px] rounded-lg bg-gray-700 max-[500px]:w-full;
  }

  &Info {
    @apply ml-3 w-72 max-sm:ml-0 max-[500px]:w-full;
    &Title {
      @apply mb-2 h-6 w-1/2 rounded-lg bg-gray-700;
    }
    &Text {
      @extend .cardInfoTitle;
      @apply h-3 w-7/12;
    }
    &Price {
      @extend .cardInfoTitle;
      @apply mt-40 max-sm:mt-3;
    }
    &Btn {
      @extend .cardInfoTitle;
      @apply h-11;
    }
  }
}
