.platform {
    @apply flex flex-row justify-center items-center w-[26px] h-[26px] rounded-full mr-[10px] last:mr-0;

    svg {
        @apply fill-white w-[14px] h-auto;
    }
}

.ps {
    background-color: #665cbe;
}

.xbox {
    background-color: #0e7a0d;
}

.win {
    background-color: #00aef0;
}

.ap {
    background-color: #555;
}