.container {
  @apply overflow-hidden;

  img {
    @apply w-auto max-w-full;
  }

  .card {
    width: 220px;
  }

  .cardBig {
    width: 270px;
  }

  @media (min-width: 576px) {
    .cardBig {
      width: 280px;
    }
  }

  @media (min-width: 768px) {
    .card {
      @apply w-full;
    }

    .cardBig {
      @apply w-full;
    }
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }
}
