.container {
    position: relative;
    width: 100%;
    padding-left: 15px;
    overflow: hidden;

    img {
        width: auto;
        max-width: 100%;
    }

    .card {
    width: 220px;
}

    .cardBig {
    width: 270px;
}

    @media (min-width: 576px) {
        padding-left: calc((100% - 510px) / 2);

        .cardBig {
        width: 280px;
    }
    }

    @media (min-width: 768px) {
        padding-left: 0;
        width: 690px;
        margin: 0 auto;

        .card {
        width: 100%;
    }

        .cardBig {
        width: 100%;
    }
    }

    @media (min-width: 992px) {
        width: 930px;
    }

    @media (min-width: 1200px) {
        width: 1110px;
    }

    @media (min-width: 1310px) {
        width: 1280px;
    }

    .swiper-wrapper {
        box-sizing: border-box;
    }
}