.post {
    @apply relative mt-[30px] rounded-default border border-trans-gray overflow-hidden;

    &Content {
        @apply block px-[15px] py-[20px];
    }

    &Img {
        @apply block w-full relative pt-[15px] px-[15px];

        img {
            @apply w-full relative z-[1] rounded-default opacity-80 transition-opacity;
        }

        &:hover img {
            @apply opacity-60;
        }

        @media (min-width: 360px) {
            padding: 20px 20px 0;
        }
    }

    &Title {
        @apply block h-[66px] mt-[15px] text-[22px] text-white font-normal mb-0 overflow-hidden;

        a {
            @apply block text-white hover:text-primary;
        }
    }

    &Cover {
        @apply block w-full relative;

        img {
            @apply w-full relative z-[1] transition-opacity opacity-80;
        }

        &:hover img {
            @apply opacity-60;
        }
    }

    &Category {
        @apply inline-flex flex-row justify-center items-center h-[24px] max-w-[74px] w-auto text-[12px]
        rounded-default px-[13px] tracking-[.4px] hover:text-white text-gray;
        border: 1px solid rgba(167, 130, 233, 0.4);
        background-color: rgba(167, 130, 233, 0.15);

        :hover {
            border-color: rgba(167, 130, 233, 0.6);
            background-color: rgba(167, 130, 233, 0.3);
        }
    }

    &Meta {
        @apply mt-[15px] flex flex-row justify-between items-center w-full h-[20px];
    }

    &Date {
        @apply flex flex-row justify-start items-center text-[13px] text-gray;

        svg {
            @apply stroke-primary w-[16px] h-auto mr-[5px];
        }
    }

    &Comments {
        @apply flex flex-row justify-start items-center text-[13px] text-gray;

        svg {
            @apply text-primary w-[16px] h-auto mr-[5px];
        }
    }

    &Video {
        @apply absolute top-[10px] left-[10px] z-[2] flex flex-row justify-center items-center w-[55px]
        h-[55px] rounded-full m-[20px];
        border: 1px solid rgba(167, 130, 233, 0.4);
        background-color: rgba(167, 130, 233, 0.15);

        svg {
            @apply stroke-primary w-[22px] h-auto ml-[2px] relative z-[2];
        }

        :before {
            @apply content-[''] absolute block z-[1] pointer-events-none top-[5px] bottom-[5px] right-[5px]
            rounded-full bg-background;
        }

        :hover {
            border-color: rgba(167, 130, 233, 0.6);
            background-color: rgba(167, 130, 233, 0.3);
        }
    }

    &Big {
        @apply relative flex flex-col m-[10px];

        .postImg {
            @apply p-0;

            :before {
                @apply content-[''] absolute block z-[2] inset-0 pointer-events-none;
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            }

            img {
                @apply rounded-none;
            }
        }

        .postContent {
            @media (min-width: 360px) {
                @apply p-[20px];
            }
        }

        .postCover {
            @media (min-width: 768px) {
                @apply flex flex-row justify-center items-center overflow-hidden w-full h-[200px];

                img {
                    @apply w-auto h-auto min-w-full min-h-full;
                }
            }

            @media (min-width: 992px) {
                height: 275px;
            }

            @media (min-width: 1200px) {
                height: 212px;
            }
        }

        .postVideo {
            margin: 0;

            @media (min-width: 360px) {
                left: 15px;
                top: 15px;
            }
        }

        @media (min-width: 768px) {
            .postContent {
                @apply absolute z-[2] bottom-0 left-0 right-0 w-full;
            }
            .postImg {
                @apply flex flex-row justify-center items-center overflow-hidden w-full h-[360px]
                cursor-default;

                img {
                    @apply w-auto h-auto min-w-[100%] min-h-[100%];
                }
            }

            :hover {
                .postImg {
                    img {
                        @apply opacity-60;
                    }
                }
            }
        }
        @media (min-width: 768px) {
            .postTitle {
                @apply pr-[30%];
            }
        }
        @media (min-width: 992px) {
            .postTitle {
                @apply pr-0;
            }
        }
        @media (min-width: 1200px) {
            .postTitle {
                @apply pr-[33%];
            }
        }
    }

}