.openFilter {
  @apply mb-[10px] block h-[44px] w-full flex-row items-center justify-center rounded-default
    bg-dark tracking-[0.4px] text-white lg:hidden;
  border: 1px solid rgba(167, 130, 233, 0.4);

  &:hover {
    background-color: rgba(167, 130, 233, 0.04);
    border-color: rgba(167, 130, 233, 0.5);
  }
}

.components {
  @apply mb-[10px] mt-[20px] flex flex-col items-start justify-start;

  @media (min-width: 576px) {
    @apply mb-[20px];
  }
  @media (min-width: 992px) {
    @apply mt-[30px];
  }
  @media (min-width: 1310px) {
    @apply pr-[10px];
  }
}

.wrapper {
  @apply hidden lg:block;

  &.open {
    @apply block;
  }
}

.title {
  @apply mb-[25px] flex h-auto w-full flex-row items-center justify-between text-[16px] font-semibold
    tracking-[.4px] text-white;
}

.applyFilter {
  @apply flex h-[44px] w-full flex-row items-center justify-center rounded-default bg-dark
    tracking-[.4px] text-white;
  border: 1px solid rgba(167, 130, 233, 0.4);

  &:hover {
    background-color: rgba(167, 130, 233, 0.04);
    border-color: rgba(167, 130, 233, 0.5);
  }

  &:hover svg {
    @apply stroke-primary;
  }
}
